.profile-container{
    width: 100%;
    max-width: 1180px;
    padding:  0 32px;
    margin: 32px auto;
}

.profile-container header {
    display: flex;
    align-items: center;
}

.profile-container header span{
    font-size: 20px;
    margin-left: 24px;
}

.profile-container header img {
    height: 60px;
}

.profile-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.profile-container header button {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 0px solid #DCDCE6;
    background: transparent;
    margin-left: 16px;
    box-shadow: 2px 2px 2px 2px #8294A6;
}

.profile-container header button:hover {
    filter: brightness(90%);
    box-shadow: 4px 4px 4px 4px #8294A6;
    transition: border 0.4s;
    border: 0px solid   #8294A6;
    border-radius: 10px;
}

.profile-container header button:focus {
    border: 0px solid  #8294A6;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px #8294A6;
    transition: border 0.4s;
}

.profile-container h1 {
    margin-top: 80px;
    margin-bottom: 24px;
}

.profile-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}
.profile-container ul li {
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 3px 3px 2px 2px rgb(175, 175, 175) ;
    position: relative;
}

.profile-container ul li .button {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px #8294A6;
}

.profile-container ul li strong {
    display: block;
    margin-bottom: 16px;
    color: #41414D;
}

.profile-container ul li p + strong{
    margin-top: 32px;
}

.profile-container ul li p{
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}


